# Bundler
.bundle
vendor
Gemfile.lock

# Jekyll
.jekyll-cache
.jekyll-metadata
_site

# RubyGems and Node
*.gem
node_modules
package-lock.json

# Theme build output
_sass/vendors
assets/js/dist

# Editors and operating systems
.idea
.vscode
.DS_Store
Thumbs.db
*~
