@CHARSET "UTF-8";
div.body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.author-content{
	border: 1px solid #c0c0c0;
	float: left;
	width: 23%;
	height: 500px;
}
.body-content{
	border: 1px solid #c0c0c0;
	float: right;
	width: 75%;
	min-height: 1000px;
}
.nav{
	height: 30px;
}
.nav div.pre{
	margin-left:20px;
	float: left;
}
.nav div.next{
	margin-right:20px;
	float: right;
}

.header{
	float:left;
	width: 100%;
	margin-bottom: 30px;
	background-color: #48525e;
}
.header .logo{
	display: table;
}
.header .logo img{
	margin-left:40px;
	width: 50px;
	margin-right: 10px;
}
.header .logo span{
	display: table-cell;
	vertical-align: middle;
	font-weight: 900;
    font-size: 1.5em;
    color: white;
}
.footer{
	float:left;
	width: 100%;
	margin-top: 30px;
	border-top: 1px solid;
	background-color: #48525e;
}
.footer ul{
	display: table;
	width: 90%;
    color: white;
    text-align: center;
}
.footer ul li{
	display:table-cell;
}